<!-- <html>
<head>
	<title>Upload</title>
	<script src="static/templates/jquery-3.3.1.js"></script>
	<script src="static/templates/script.js"></script>
</head>
<body>
<form method=POST enctype =multipart/form-data action = "{{ url_for('upload') }}">
	<input type=file id= "media" name=media>
	<input type="submit">
	
</form>
	
</body>
</html> -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Upload new File</title>
	<h1>Upload new File</h1>
</head>
<body>
<form method=post enctype=multipart/form-data>
	<input type=file name=file>
    <input type="submit" value="Submit">
</form>
	<a href="/test/">Click me</a>
</body>


 -->

 <!doctype html>

<title>Test</title> 
<meta charset=utf-8> 

<a href="/my-link/">Click me</a>